tempuri.org.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64946/MotoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfMoto.ViewModels" />
  <xs:element name="GetAnnouncements">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnnouncementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfMoto.ViewModels" minOccurs="0" name="GetAnnouncementsResult" nillable="true" type="q1:ArrayOfAnnouncementForView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnnoucementSortByTitle">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnnoucementSortByTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfMoto.ViewModels" minOccurs="0" name="GetAnnoucementSortByTitleResult" nillable="true" type="q2:ArrayOfAnnouncementForView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>